:root{
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}
body{
   background-color: var(--Pale-blue);
}
.container{
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    border-radius: 15px;
    background-color: var(--Very-pale-blue);
}
.image{
    width:337px;
    margin-bottom: 20px;
}
.image img{
    width: 100%;
}
.text{
    text-align: center;
}

h2{
    color:var(--Dark-blue);
    margin-bottom: 20px;
}
p{
    color:var(--Desaturated-blue);
    margin-bottom: 20px;
    line-height: 1.6;
}